.header {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 800;
  font-size: 22px;
  margin: auto 0 auto 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}