.app {
  background-color: #F2F2F2;
}

.header {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 800;
  font-size: 22px;
  margin: auto 0 auto 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main {
  margin-left: 60px;
  margin-right: 60px;
}

.toolbar {
  display: flex;
  direction: row;
  margin-top: 38px;
  margin-bottom: 38px;
}

.search-bar {
  width: 30vw;
  height: 38px;
  border: none;
  background-image: url('../../resources/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  margin-right: 10px;
}

.region-select {
  margin-left: auto;
  height: 38px;
  width: 175px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400px;
}

.grid-container {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 21%);
  row-gap: 60px;
  padding-bottom: 38px;
  justify-content: space-between;
}

@media screen and (max-width: 600px){
  .main {
    margin: 0;
  }

  .toolbar {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .search-bar {
    margin-bottom: 10px;
    width: calc(100% - 40px);
  }

  .region-select {
    margin-left: 0;
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 70.4vw;
    margin-left: 55px;
    margin-right: 55px;
    justify-content: center;
  } 
}
