.card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 10%;
  min-height: 300px;
  cursor: pointer;
}

.flag-box {
  display: flex;
  height: 60%;
  align-items: flex-start;
}

.flag {
  width: 100%;
  object-fit: contain;
}

.info {
  margin-left: 9%;
}

.country-name {
  font-size: 16px;
}

.info-line {
  margin-bottom: 1%;
  font-weight: 300;
  font-size: 13px;
}

.info-line span {
  font-weight: 600;
}

@media screen and (max-width: 600px){
  .flag-box {
    height: 80%;
  }
}
